.main-menu-header {
    align-items: center;
    background: #088389;
    display: flex;
    padding:20px;
   
    display: inline-block;
    
  }
  .main-menu-header .user-details span {
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
  }
  .main-menu-header .user-details #more-details {
    cursor: pointer;
  }
  .main-menu-header .user-details span i {
    font-size: 10px;
    margin-left: 10px;
  }
  .main-menu-header .user-details span:first-child {
    margin-bottom: 5px;
  }

  ul.demo{
    
    padding: 0;
  
    
  }
  #more-detailss{
    -moz-box-shadow:    inset 0 0 10px #000000 !important;
    -webkit-box-shadow: inset 0 0 10px #000000 !important;
    box-shadow:         inset 0 0 10px #000000 !important;
  }
  .naviMenu > ul li { 
    list-style-type: none; 
  }
  
  #more-detailss{
    position: absolute;
    width:140px;
    padding-left: -15px;
    border-radius: 50px 50px;
  }

  #more-details{
    font-family: Times New Roman, Times, serif !important;
    color: white !important;
    font-size: 18px !important;
  }

  .more-details{
    background: #f4ece2;
  }
  
  .more-details a {
    display: block;
    color: black;
    transition: all ease-in .3s;
    padding: 10px 15px;
  }
  
  .more-details a:hover {
    color: #088389;
  }

  .img-40{
    width:40px;
  }

  .prof{
    border-radius: 50%;
    border-style: outset;
    border-color: #00b1ba;
    
    width: 130px;
    height: 130px;
  
    -webkit-box-shadow: 2px 2px 3px 3px rgb(109, 106, 106);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 3px 3px rgb(109, 106, 106);  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 3px 3px rgb(109, 106, 106); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
  
  }
  .img-40{
    -webkit-align-items: center;
    align-items: center;
  }

  .main-menu-content li {
    position: relative;
    z-index: +1;
  }