<div class="login_div">
  <div class="passstyle">
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText> 
      <label for="float-input">Username</label>
    </span>
    
  </div>
  <div class="passstyle">
    <span class="ui-float-label">
      <input type="password" pPassword size="30"/>
      <label for="float-input">Password</label>
    </span>
  </div>
  
  <button pButton type="button" label="OK"  style="width:50px;height:35px;" class="ok-button"></button>
</div>
