<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Details-->
    <add key="CLASS" value="Class" />
    <add key="CREATE_DATE" value="Create Date" />
    <add key="FREE_BOARD" value="Number of free boards" />
    <add key="DEPLOYMENT_STATUS" value="Deployement Status" />
    <add key="FIBER_COUNT" value="Fiber Count" />
    <add key="GATEWAY_TYPE" value="Gateway Type" />
    <add key="IP" value="IP" />
    <add key="LSR_ID" value="LSR ID" />
    <add key="MAC_ADDRESS" value="MAC Address" />
    <add key="ALIAS_NAME" value="Alias Name" />
    <add key="ALIAS_NAMEType" value="Alias Name Type" />
    <add key="ALIAS" value="Alias Name" />
    <add key="NAME" value="Name" />
    <add key="NE_ID" value="NE ID" />
    <add key="PATCH_VERSION" value="Patch Version" />
    <add key="REMARKS" value="Remarks" />
    <add key="SHELF_TYPE" value="Shelf Type" />
    <add key="SERIES" value="Series" />
    <add key="SITE_MODEL" value="Site Model" />
    <add key="MODEL" value="Model" />
    <add key="HARDWARE_VERSION" value="Hardware Version" />
    <add key="SOFTWARE_VERSION" value="Software Version" />
    <add key="SUBRACK_TYPE" value="Subrack Type" />
    <add key="TERMINAL_CLASS" value="Terminal Class" />
    <add key="TOTAL_CHILD_NUMBER" value="Total Child Number" />
    <add key="TOTAL_SUBRACK_NUMBER" value="Total SubRack Number" />
    <add key="TOTAL_SLOTS_NUMBERS" value="Total Slots Number" />
    <add key="TYPE" value="Type" />
    <add key="U2000_REF_ID" value="U2000 REF Key" />
    <add key="VENDOR" value="Vendor" />
    <add key="CODE" value="Site Code" />
    <add key="ENGLISH_NAME" value="Site Name" />
    <add key="REGION" value="Region" />
    <add key="ZONE" value="Zone" />
    <add key="AREA" value="Area" />
    <add key="SUBAREA" value="Subarea" />
    <add key="SUBRACK_ID" value="Subrack ID" />
    <add key="RACK_ID" value="Rack ID" />
    <add key="SLOT_ID" value="Slot ID" />
    <add key="SUBSLOT_ID" value="Subslot ID" />
    <add key="SERIAL_NUMBER" value="Serial Number" />
    <add key="FREE_SUBBOARD" value="Number of Free Subboards" />
    <add key="FPGA_VERSION" value="FPGA Version" />
    <add key="BIOS_VERSION" value="BIOS Version" />
    <add key="STATUS" value="Status" />
    <add key="BOM_ITEM" value="BOM Item" />
    <add key="DESCRIPTION" value="Description" />
    <add key="BARCODE" value="Barcode" />
    <add key="FREE_PORT" value="Number of Free Ports" />
    <add key="MANUFACTURE_DATE" value="Manufacture Date" />
    <add key="IS_VIRTUAL" value="Is related to managment port" />
    <add key="PORT_ID" value="Port ID" />
    <add key="PORT_LEVEL" value="Port Level" />
    <add key="PORT_NAME" value="Port Name" />
    <add key="RATE_BPS" value="Rate BPS" />
    <add key="SUB_TYPE" value="Sub Type" />
    <add key="LOWER_RECEIVE_POWER" value="Lower receive power" />
    <add key="LOWER_TRANSMIT_POWER" value="Lower Transmission Power" />
    <add key="MANUFACTURE" value="Manufacture" />
    <add key="MANUFACTURER" value="Manufacture" />
    <add key="RECEIVE_POWER" value="Receive Power" />
    <add key="REFERENCE_RECEIVE_POWER" value="Refference Receive Power" />
    <add key="REFERENCE_RECEIVE_TIME" value="Refference Receive Time" />
    <add key="REFERENCE_TRANSMIT_POWER" value="Refference Transmission Power" />
    <add key="REFERENCE_TRANSMIT_TIME" value="Refference Transmission Time" />
    <add key="SM_MM" value="SM_MM" />
    <add key="SPEED" value="Speed" />
    <add key="TRANSMIT_POWER" value="Transmit Power" />
    <add key="UPPER_RECEIVE_POWER" value="Upper receive power" />
    <add key="UPPER_TRANSMIT_POWER" value="Upper Transmission Power" />
    <add key="WAVELENGTH" value="Wave Length" />
    <add key="AVAILABLE_SLOTS_FOR_SERVICES_BOARDS" value="Available Slots For Services Boards" />
    <add key="RESERVED_SLOTS" value="Reserved Slots Count" />
    <add key="TOTAL_PORTS_NUMBER" value="Total Ports Number" />
    <add key="FIXED_ATTENUATOR_DB" value="Fixed Attenuator DB" />
    <add key="FIXED_OPTICAL_ATTENUATOR" value="Fixed Optical Attenuator" />
    <add key="SUBTYPE" value="Sub Type" />
    <add key="FIBER_CABLE_TYPE" value="Fiber Cable Type" />
    <add key="BOM_CODES" value="BOM Code" />
    <add key="CLEI_CODE" value="ClEI Code" />
    <add key="PORT_TYPE" value="Port Type" />
    <add key="TOTAL_SUBSLOTS_NUMBER" value="Total SubSlots Number" />
    <add key="TRANSMISSION_DISTANCE" value="Transmission Distance" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <connectionStrings>
    <add name="Entities" connectionString="Data Source=10.253.23.164/testDB; User Id=oss_test;Password=oss_test_123;" providerName="Oracle.ManagedDataAccess.client" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="Entities1" connectionString="metadata=res://*/Models.ModelOSS.csdl|res://*/Models.ModelOSS.ssdl|res://*/Models.ModelOSS.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.253.23.164:1521/testDB;PASSWORD=oss_test_123;PERSIST SECURITY INFO=True;USER ID=OSS_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.253.23.164:1521/testDB;PASSWORD=oss_test_123;PERSIST SECURITY INFO=True;USER ID=OSS_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities3" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.253.23.164:1521/testDB;PASSWORD=oss_test_123;PERSIST SECURITY INFO=True;USER ID=OSS_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities4" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.253.23.164:1521/testDB;PASSWORD=oss_test_123;PERSIST SECURITY INFO=True;USER ID=OSS_TEST&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>