<div class="Naviagetion_Category">	
    <div class="">
      <nav class="category_nav">					
        <ul class="category_ul">
          <li class="oddStyle">

           <!-- <a href="">-->
              <span class="category_icon">
                <i aria-hidden="true" class="fa fa-wrench"></i>
              </span>
              <span>Physical Inventory</span>

            <!-- </a>-->
          </li>
          <li class="evenStyle">

           <!-- <a href="">-->
              <span class="category_icon"> 
                <i aria-hidden="true" class="fa fa-cog"></i>
              </span>
              <span>Resource Configration</span>
 
            <!-- </a>-->
          </li>
          <li class="oddStyle">

            <!-- <a href="">-->
              <span class="category_icon">
                <i aria-hidden="true" class="fa fa-wrench"></i>
              </span>
              <span>Resource Topology</span>

            <!-- </a>-->
          </li>
          <li class="evenStyle">
           <!-- <a href="">-->
              <span class="category_icon">
                <i aria-hidden="true" class="fa fa-cog"></i>
              </span>
              <span>Map Viewer</span>
           <!-- </a>-->
          </li>
        </ul>
      </nav>
    </div>
  </div>
