<div class="sidebar_toggle"><a href="profileInfo:;"><i class="icon-close icons"></i></a></div>
<div [ngClass]="[ModelInfoObj.ProfileMainMenu, ModelInfoObj.Profile]" align="center">
  <img class="img-40" src="assets/images/user-1.png" alt="User-Profile-Image">
  <div class="user-details">
    <span class="prof-style">Welcome Halar</span>
    <span id="more-details" (click)="toggleOpenedSidebar()"><i class="ti-angle-down"></i></span>
  </div>
</div>
<div class="main-menu-content detrails_options naviMenu" >
  <ul class="demo">
    <li [@mobileMenuTop]="isCollapsedSideBar" id="more-detailss" [ngClass]="ModelInfoObj.ProfileMoreDetails" [ngClass]="isCollapsedSideBar" align="center">
      <a href="profileInfo:"><i class="ti-user"></i>View Profile</a>
      <a href="profileInfo:"><i class="ti-settings"></i>Settings</a>
      <a href="profileInfo:"><i class="ti-layout-sidebar-left"></i>Logout</a>
    </li>
  </ul>
</div>